<meta charset="utf-8">
<title><%= title %></title>
<meta name="description" content="MBDS's Web Project">
<meta name="author" content="Patrick Poirier">

<!-- styles -->
<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/lib/bootstrap/css/bootstrap-imageupload.min.css" rel="stylesheet">

<link href="/css/app.css" rel="stylesheet">
