<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/gallery">
    <img alt="alt" src="/images/mod-devices-logo-on-darkcf23.png" class="header-logo" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%if(active=="gallery"){%>active<%}%>">
        <a class="nav-link" href="/gallery">Plugin Gallery</a>
      </li>
      <li class="nav-item <%if(active=="shop"){%>active<%}%>">
        <a class="nav-link" href="/plugin-shop">Plugin shop</a>
      </li>
      <li class="nav-item <%if(active=="tag"){%>active<%}%> dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          By tags
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="MIDI"){%>active<%}}%>" href="/tag/MIDI">MIDI</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Gate"){%>active<%}}%>" href="/tag/Gate">Gate</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Filter"){%>active<%}}%>" href="/tag/Filter">Filter</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Delay"){%>active<%}}%>" href="/tag/Delay">Delay</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Generator"){%>active<%}}%>" href="/tag/Generator">Generator</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Spacial"){%>active<%}}%>" href="/tag/Spacial">Spacial</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Reverb"){%>active<%}}%>" href="/tag/Reverb">Reverb</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Distortion"){%>active<%}}%>" href="/tag/Distortion">Distortion</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Spectral"){%>active<%}}%>" href="/tag/Spectral">Spectral</a>
          <a class="dropdown-item <%if(typeof tag !== 'undefined'){if(tag=="Equaliser"){%>active<%}}%>" href="/tag/Equaliser">Equaliser</a>
        </div>
      </li>
      <%if(user!==undefined){ %>
        <li class="nav-item <%if(active=="my-plugins"){%>active<%}%>">
          <a class="nav-link" href="/plugin/my-plugin-list">My plugins</a>
        </li>
        <li class="nav-item <%if(active=="add-plugin"){%>active<%}%>">
          <a class="nav-link" href="/plugin/add">Add plugin</a>
        </li>
      <% } %>
    </ul>
    <%if(user!==undefined){ %>
      <button type="button" class="btn btn-outline-danger modal-button" id="logout-button">
        Logout
      </button>
    <% } else { %>
      <button type="button" class="btn btn-outline-success modal-button" data-toggle="modal" data-target="#login-modal">
        Login
      </button>
    <% } %>

    <a class="btn btn-outline-danger my-2 my-sm-0" href="/plugin-shop">Shop</a>
  </div>
</nav>
<% include ../partials/login %>
