<script src="/lib/jquery/jquery-3.3.1.min.js"></script>
<script src="/lib/popper/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap-imageupload.min.js"></script>
<script src="/js/app.js"></script>
