<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="" action="/login" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="logusername">Username</label>
            <input type="text" class="form-control" name="logusername" id="logusername" placeholder="Enter your username" required/>
          </div>
          <div class="form-group">
            <label for="logpassword">Password</label>
            <input type="password" class="form-control" name="logpassword" id="logpassword" placeholder="Enter your password" required/>
          </div>
          <div class="text-center">
            <a data-dismiss="modal" data-toggle="modal" href="#register-modal">Don't have an account ?</a>
          </div>
        </div>
        <div class="modal-footer">
          <span class="btn btn-outline-danger" data-dismiss="modal">Close</span>
          <button type="submit" class="btn btn-outline-success">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="" action="/register" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="regusername">Username</label>
            <input type="text" class="form-control" name="regusername" id="regusername" placeholder="Enter your username" required/>
          </div>
          <div class="form-group">
            <label for="regpassword">Password</label>
            <input type="password" class="form-control" name="regpassword" id="regpassword" placeholder="Enter your password" required/>
          </div>
          <div class="form-group">
            <label for="regpasswordval">Password validation</label>
            <input type="password" class="form-control" name="regpasswordval" id="regpasswordval" placeholder="Re-enter your password" required/>
          </div>
          <div class="form-group">
            <label for="regurl">URL</label>
            <input type="text" class="form-control" name="regurl" id="regurl" placeholder="Enter your url" required/>
          </div>
          <div class="text-center">
            <a data-dismiss="modal" data-toggle="modal" href="#login-modal">Already have an account ?</a>
          </div>
        </div>
        <div class="modal-footer">
          <span class="btn btn-outline-danger" data-dismiss="modal">Close</span>
          <button type="submit" class="btn btn-outline-success">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
