<div class="col-auto plugin-template">
  <div class="plugin-global-header text-center">
    <h3><%= plugin.name %></h3>
  </div>
  <div class="plugin-global-body text-center">
    <img class="img-fluid plugin-image" src="/images/plugins/<%= plugin.image %>" alt="visualisation"/>
  </div>
  <div class="plugin-global-footer text-center">
    <p><%= plugin.inspired_by %></p>
    <a href="/plugin/<%= plugin._id %>" class="btn btn-outline-danger plugin-link">Details</a>
  </div>
</div>
