<div class="col-md-4 plugin-card plugin-card-shop">
  <input type="hidden" name="plugin-id" class="plugin-id" value="<%= plugin._id %>">
  <div class="col-auto plugin-template-shop">
    <div class="plugin-global-body text-center">
      <img class="img-fluid plugin-image" src="/images/plugins/<%= plugin.image %>" alt="visualisation"/>
    </div>
    <div class="text-center">
      <% plugin.tags.forEach(function (tag) { %>
        <a href="/tag/<%= tag %>" class="tag-shop">
          <span class="badge badge-secondary"><%= tag %></span>
        </a>
      <% }) %>
    </div>
    <hr />
    <div class="plugin-global-header text-center">
      <h4 class=""><a href="/plugin/<%= plugin._id %>" class="no-link"><%= plugin.name %></a></h4>
    </div>
    <div class="plugin-global-footer text-center">
      <a href="<%= plugin.author_link %>" class=""><%= plugin.author %></a>
    </div>
  </div>
</div>
