.header-logo {
  width: 9.0625em !important;
}

.center {
  margin: auto;
}

.plugin-template, .plugin-template-shop {
  cursor: pointer;
}

.navbar-nav>.dropdown:hover>.dropdown-menu {
  display: block;
}

.grey-nav-link{
  color: grey !important;
}

.welcome-container {
  display: block;
}

.welcome-img {
  position: relative;
  background-image: url("/images/home-billboardcf23.jpg");
  overflow: hidden;
  background-size: cover;
}

.hidden-picture {
  display: none;
}

.welcome-constraint {
  float: none !important;
  margin: auto !important;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1420px;
}

.welcome-content {
  padding-top: 12.5em !important;
  padding-bottom: 12.5em !important;
  position: relative;
  z-index: 2;
}

.welcome-content-inner {
  color: white;
  max-width: 46.125em;
}

.h1-huge {
  font-size: 3.4375em;
  font-weight: 600;
  margin-bottom: 0.18182em;
  line-height: 1.12727;
}

.p-large {
  font-size: 1.9em;
  line-height: 1.44444;
  font-weight: 300;
}

.tag-shop:hover {
  text-decoration: none;
}

.welcome-opacity {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gallery-header-text > h2 {
  font-size: 3.5em;
}

.gallery-header-text > p {
  font-size: 1.2em;
}

.white-text {
  color: white;
}

.small-text {
  font-size: 0.7em;
}

.black-background {
  background-color: #333;
}

.plugin-card {
  margin-bottom: 2%;
}

.plugin-template-shop {
  background: #efefef;
  color: #333;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 1em;
  border: solid #999;
  border-width: 2px;
}

.plugin-template-shop:hover {
  background: #AAA;
  color: white;
}

.modal-button {
  margin-right: 2%;
}

.plugin-template-shop:hover .no-link {
  color: white;

}

.no-link {
  color: #333;
}

.no-link:hover {
  color: #007bff;
}

.plugin-template {
  background: #444;
  color: white;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  border-radius: 1em;
  border: solid #999;
  border-width: 2px;
}

.plugin-template:hover {
  background: #efefef;
  color: black;
}

.justify-content-between {
  margin-left: 3.3%;
  margin-right: 3.3%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.plugin-image {
  overflow: hidden;
}

.plugin-image-height {
  max-width: 100%;
  height: auto;
}

.plugin-image-width {
  width: auto;
  max-height: 100%;
}
