<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <% include ../partials/head %>
</head>
<body class="">
  <header>
    <% include ../partials/header %>
    <link href="/lib/bootstrap/css/file-upload-with-preview.min.css" rel="stylesheet">
  </header>
  <main role="main" class="container">
    <br />
    <h3>Add a new plugin</h3>
    <hr />
    <div class="row">
      <div class="offset-3 col-md-6">
        <form class="" enctype="multipart/form-data" action="/plugin/add" method="post">
          <div class="form-group">
            <label for="pluname">Plugin's name</label>
            <input type="text" class="form-control" name="pluname" id="pluname" placeholder="Plugin's name" />
          </div>

          <div class="custom-file-container" data-upload-id="pluginImage">
            <label>Plugin's image <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">clear</a></label>
            <label class="custom-file-container__custom-file" >
              <input type="file" name="pluimage" class="custom-file-container__custom-file__custom-file-input" accept="*">
              <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
              <span class="custom-file-container__custom-file__custom-file-control"></span>
            </label>
            <div class="custom-file-container__image-preview"></div>
          </div>

          <div class="form-group">
            <label for="pluinspired">Plugin's inspired by</label>
            <input type="text" class="form-control" name="pluinspired" id="pluinspired" placeholder="Plugin's inspired by" />
          </div>
          <div class="form-group">
            <label for="pludesc">Plugin's description</label>
            <textarea type="text" class="form-control" name="pludesc" id="pludesc" placeholder="Plugin's description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label>Plugin's tags</label>
            <select class="custom-select" name="plutags" id="basic" multiple="multiple">
              <option value="MIDI">MIDI</option>
              <option value="Gate">Gate</option>
              <option value="Filter">Filter</option>
              <option value="Delay">Delay</option>
              <option value="Generator">Generator</option>
              <option value="Spacial">Spacial</option>
              <option value="Reverb">Reverb</option>
              <option value="Distortion">Distortion</option>
              <option value="Spectral">Spectral</option>
              <option value="Equaliser">Equaliser</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pluversion">Plugin's version</label>
            <input type="text" class="form-control" name="pluversion" id="pluversion" placeholder="Plugin's version" />
          </div>
          <div id="plugin-specs">
            <label>Plugin's specs</label>
            <div class="form-group row">
              <div class="col-3 text-center">
                <label>Control</label>
                <input type="text" name="specsControl[]" value="" placeholder="Control" class="form-control">
              </div>
              <div class="col-3 text-center">
                <label>Default</label>
                <input type="text" name="specsDefault[]" value="" placeholder="Default" class="form-control">
              </div>
              <div class="col-3 text-center">
                <label>Min</label>
                <input type="text" name="specsMin[]" value="" placeholder="Min" class="form-control">
              </div>
              <div class="col-3 text-center">
                <label>Max</label>
                <input type="text" name="specsMax[]" value="" placeholder="Max" class="form-control">
              </div>
            </div>
          </div>
          <div class="">
            <button type="button" class="btn btn-outline-success" id="more-plugin-spec">+</button>
          </div>
          <br />
          <div class="text-center">
            <button type="submit" class="btn btn-success">Add plugin</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <% include ../partials/includes %>
  <script src="/lib/bootstrap/js/file-upload-with-preview.min.js"></script>
  <script src="/js/add.js"></script>
</body>
</html>
