<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <% include ../partials/head %>
</head>
<body class="">
  <header>
    <% include ../partials/header %>
    <link href="/lib/bootstrap/css/file-upload-with-preview.min.css" rel="stylesheet">
  </header>
  <main role="main" class="container">
    <br />
    <h3>Eddit plugin</h3>
    <hr />
    <div class="row">
      <div class="offset-3 col-md-6">
        <form class="" enctype="multipart/form-data" action="/plugin/edit/<%= plugin._id %>" method="post">
          <div class="form-group">
            <label for="pluname">Plugin's name</label>
            <input type="text" class="form-control" name="pluname" id="pluname" placeholder="Plugin's name" value="<%= plugin.name %>"/>
          </div>

          <div class="custom-file-container" data-upload-id="pluginImage">
            <label>Plugin's image <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">clear</a></label>
            <label class="custom-file-container__custom-file" >
              <input type="file" name="pluimage" class="custom-file-container__custom-file__custom-file-input" accept="*">
              <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
              <span class="custom-file-container__custom-file__custom-file-control"></span>
            </label>
            <div class="custom-file-container__image-preview"></div>
          </div>

          <div class="form-group">
            <label for="pluinspired">Plugin's inspired by</label>
            <input type="text" class="form-control" name="pluinspired" id="pluinspired" placeholder="Plugin's inspired by" value="<%= plugin.inspired_by %>"/>
          </div>
          <div class="form-group">
            <label for="pludesc">Plugin's description</label>
            <textarea type="text" class="form-control" name="pludesc" id="pludesc" placeholder="Plugin's description" rows="3"><%= plugin.desc %></textarea>
          </div>
          <div class="form-group">
            <label>Plugin's tags</label>
            <select class="custom-select" name="plutags" id="basic" multiple="multiple">
              <option value="MIDI" <% if (plugin.tags.includes('MIDI')) { %> selected <% } %>>MIDI</option>
              <option value="Gate" <% if (plugin.tags.includes('Gate')) { %> selected <% } %>>Gate</option>
              <option value="Filter" <% if (plugin.tags.includes('Filter')) { %> selected <% } %>>Filter</option>
              <option value="Delay" <% if (plugin.tags.includes('Delay')) { %> selected <% } %>>Delay</option>
              <option value="Generator" <% if (plugin.tags.includes('Generator')) { %> selected <% } %>>Generator</option>
              <option value="Spacial" <% if (plugin.tags.includes('Spacial')) { %> selected <% } %>>Spacial</option>
              <option value="Reverb" <% if (plugin.tags.includes('Reverb')) { %> selected <% } %>>Reverb</option>
              <option value="Distortion" <% if (plugin.tags.includes('Distortion')) { %> selected <% } %>>Distortion</option>
              <option value="Spectral" <% if (plugin.tags.includes('Spectral')) { %> selected <% } %>>Spectral</option>
              <option value="Equaliser" <% if (plugin.tags.includes('Equaliser')) { %> selected <% } %>>Equaliser</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pluversion">Plugin's version</label>
            <input type="text" class="form-control" name="pluversion" id="pluversion" placeholder="Plugin's version" value="<%=plugin.version%>"/>
          </div>
          <div id="plugin-specs">
            <label>Plugin's specs</label>
            <% plugin.desc_rows.forEach(function (desc) {%>
              <div class="form-group row">
                <div class="col-3 text-center">
                  <label>Control</label>
                  <input type="text" name="specsControl[]" value="<%=desc.control%>" placeholder="Control" class="form-control">
                </div>
                <div class="col-3 text-center">
                  <label>Default</label>
                  <input type="text" name="specsDefault[]" value="<%=desc.default%>" placeholder="Default" class="form-control">
                </div>
                <div class="col-3 text-center">
                  <label>Min</label>
                  <input type="text" name="specsMin[]" value="<%=desc.min%>" placeholder="Min" class="form-control">
                </div>
                <div class="col-3 text-center">
                  <label>Max</label>
                  <input type="text" name="specsMax[]" value="<%=desc.max%>" placeholder="Max" class="form-control">
                </div>
              </div>
            <%});%>
          </div>
          <div class="">
            <button type="button" class="btn btn-outline-success" id="more-plugin-spec">+</button>
          </div>
          <br />
          <div class="text-center">
            <button type="submit" class="btn btn-success">Edit plugin</button>
          </div>
        </form>
      </div>
    </div>
    <input type="hidden" id="plgimg" name="plgimg" value="<%= plugin.image %>">
  </main>
  <% include ../partials/includes %>
  <script src="/lib/bootstrap/js/file-upload-with-preview.min.js"></script>
  <script src="/js/edit.js"></script>
</body>
</html>
