<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main role="main" class="container">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </main>
    <% include ../partials/includes %>
  </body>
</html>
