<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="black-background">
    <header>
      <% include ../partials/header %>
    </header>

    <% if (typeof message !== 'undefined') { %>
      <% if (message === 'created') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Your plugin has been added.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
    <% } %>

    <div class="welcome-container">
      <div class="welcome-img">
        <img src="/images/home-billboardcf23.jpg" class="img-fluid hidden-picture" alt="fake-background" />
        <div class="welcome-opacity"></div>
        <div class="welcome-constraint">
          <div class="welcome-content">
            <div class="welcome-content-inner">
              <h1 class="h1-huge">For all purposes, an entire sonic universe inside</h1>
              <p class="p-large">Get access to more than five hundred audio and MIDI plugins in a collection that will never stop growing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main role="main" class="container">
      <br />
      <h2 class="text-center white-text">Inspiration in all the Classics</h2>
      <h4 class="text-center white-text">All the famous stompboxes, FX, synths, sequencers and amps that made history</h4>
      <br />
      <div class="row">
        <% plugins.forEach(function (plugin) { %>
          <div class="col-md-4 plugin-card">
            <%- include('../partials/plugin_card', {plugin: plugin}); %>
          </div>
        <% }) %>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/plugin-shop" class="btn btn-outline-danger justify-content-center">Go to plugin shop</a>
        </div>
      </div>
      <br />
    </main>
    <% include ../partials/includes %>
    <script src="/js/gallery.js"></script>
  </body>
</html>
