<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="">
    <header>
      <% include ../partials/header %>
    </header>
    <br />
    <div class="text-center">
      <h3>My plugins</h3>
    </div>
    <main role="main" class="container">
      <%if(plugins=="none"){%>
        <div class="text-center">
          <h4>Sorry, you don't have any plugin...</h4>
        </div>
      <%}else{%>
        <div class="row">
          <% plugins.forEach(function (plugin) { %>
            <%- include('../partials/plugin_card_shop', {plugin: plugin}); %>
          <% }) %>
        </div>
      <%}%>
    </main>
    <% include ../partials/includes %>
    <script src="/js/list.js"></script>
  </body>
</html>
