<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main role="main" class="container">
    <br />
    <% if (typeof status !== 'undefined') { %>
      <% if (status === 'updated') { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Success!</strong> Your plugin has been updated.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% } %>
    <% } %>
    <br />
    <div>
      <%if(username==plugin.author){%>
        <div class="row">
          <div class="col-md-6">
            <a href="/plugin/remove/<%= plugin._id %>" class="btn btn-outline-danger">Delete</a>
          </div>
          <div class="col-md-6 text-right">
            <a href="/plugin/edit/<%= plugin._id %>" class="btn btn-outline-primary">Edit</a>
          </div>
        </div>
      <%}%>
      <div>
        <div class="row">
          <div class="col-md-6">
            <p><%= plugin.author %><br />
            <a href="<%= plugin.source_link %>"><%= plugin.author_link %></a></p>
          </div>
          <div class="col-md-6 text-right">
            <h2><span class="badge badge-success"><%= plugin.usage %></span></h2>
            <p class="small-text">Pedalboards<br />using it</p>
          </div>
        </div>
      </div>
      <h3 class="text-center"><%= plugin.name%></h3>
    </div>
    <div>
      <div class="text-center">
        <img src="/images/plugins/<%= plugin.image %>" alt="plugin" class="img-fluid"/>
      </div>
      <div>
        <h4 class="text-center">
          <% plugin.tags.forEach(function (tag) { %>
            <a href="/tag/<%= tag %>" >
              <span class="badge badge-secondary"><%= tag %></span>
            </a>
          <% }) %>
        </h4>
      </div>
    </div>
    <div>
      <div class="">
        <%= plugin.desc %>
      </div>
      <br />
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Control</th>
              <th scope="col">Default</th>
              <th scope="col">Min</th>
              <th scope="col">Max</th>
            </tr>
          </thead>
          <tbody>
            <% plugin.desc_rows.forEach(function (row) {%>
              <tr>
                <th><%= row.control %></th>
                <td><%= row.default %></td>
                <td><%= row.min %></td>
                <td><%= row.max %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="<%= plugin.source_link %>"><%= plugin.author_link %></a>
        </div>
        <div class="col-md-6 text-right">
          v<%= plugin.version %>
        </div>
      </div>
    </div>
  </main>
  <% include ../partials/includes %>
</body>
</html>
