<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="">
    <header>
      <% include ../partials/header %>
    </header>
    <main role="main" class="container">
      <br />
      <div class="row">
        <div class="col-md-6 center">
          <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="Plugin's name" id='search-plugin-name' aria-label="Plugin's name">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="search-button" type="button">Search</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row" id="shop-plugins">
        <% plugins.forEach(function (plugin) { %>
          <%- include('../partials/plugin_card_shop', {plugin: plugin}); %>
        <% }) %>
      </div>
      <div class="row">
        <div class="center">
          <button class="btn btn-outline-danger" id="load-more">Load More</button>
        </div>
      </div>
      <br /
    </main>
    <input type="hidden" name="pagesize-hidden" id="pagesize-hidden" value="<%= pagesize %>"/>
    <% include ../partials/includes %>
    <script src="/js/shop.js"></script>
  </body>
</html>
