<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main role="main" class="container">
      <div class="row">
        <% plugins.forEach(function (plugin) { %>
          <%- include('../partials/plugin_card_shop', {plugin: plugin}); %>
        <% }) %>
      </div>
    </main>
    <% include ../partials/includes %>
  </body>
</html>
